<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/stye.css">
    <!-- fontAwsome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css"
     integrity="sha512-PgQMlq+nqFLV4ylk1gwUOgm6CtIIXkKwaIHp/PAIWHzig/lKZSEGKEysh0TCVbHJXCLN7WetD8TFecIky75ZfQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- bootstap -->
 <!-- Bootstrap CSS -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" 
 integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>Weather App</title>
</head>
<body>
    <!-- navbar -->
  <div class="container-fluid main_menu ">
      <div class="row">
          <div class="col-md-10 col-12 mx-auto">
            {{>nav}}
         
                </div>
               
          </div>
      </div>
 
  <!-- main header -->
  <div class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
        <div class="row">
            <div class="col-md-6 col-12 order-md-1 order-0  main_header_right aboutimg">
                <figure> 
                    <img src="images/img1.jpg" alt="girl" class="img" >
                </figure>
                </div>
            <div class="col-md-6 col-12 order-md-0 order-1 main_header_left aboutme">
                <h1>About me</h1>
                 <button id="submitbtn" class="btn"><a href="https://ng-projects-detail.web.app">Check Now</a></button>
                
            </div>
            
        </div>
      </div>
  </div>
  </div>
  <!-- footer -->
  <footer>
             {{>footer}}

  </footer>
</body>
</html>