 
      
<div class="dropdown">
  <button class="dropbtn"><i class=" fas fa-caret-down"></i>
</button>
  <div class="dropdown-content">
 <a class="active" href="/">Home</a>
<a href="/weather">Weather</a>
 <a href="/about">About</a>
  </div>
</div>  
      <nav>
        <label class="logo"><i class="fas fa-snowflake"></i>
                   <span class="weatherLogo" > weather App</span> <i class="fas fa-snowflake"></i></a></label>
        <ul>
           <li><a href="/">Home</a></li>
           <li><a href="/weather">Weather</a></li>
          <li><a href="/about">About</a></li>
        </ul>
      </nav>     